<h2>Ingreso de prenda</h2>

<form (ngSubmit)="ingresarPrenda()">
  <ion-item>
    <ion-label position="floating">Nombre Prenda</ion-label>
    <ion-input [(ngModel)]="nombre_prenda" name="nombre_prenda" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="cantidad" name="cantidad" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo</ion-label>
    <ion-select [(ngModel)]="tipo" name="tipo" interface="popover" required>
      <ion-select-option value="blanco">Blanco</ion-select-option>
      <ion-select-option value="verde">Verde</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Detalle</ion-label>
    <ion-textarea [(ngModel)]="detalle" name="detalle"></ion-textarea>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Peso (gramos)</ion-label>
  <ion-input type="number" [(ngModel)]="peso" name="peso" required></ion-input>
</ion-item>


  <ion-button expand="block" type="submit" color="primary">
    {{ editandoId ? 'Actualizar' : 'Ingresar' }}
  </ion-button>
</form>

<h3>Lista de ropa ingresada</h3>
<ion-list *ngIf="prendas.length > 0">
  <ion-item *ngFor="let prenda of prendas">
    <ion-label>
      <h2>{{ prenda.nombre }}</h2>
      <p>
        Tipo: {{ prenda.tipo }} |
        Cantidad: {{ prenda.cantidad }} |
        Detalle: {{ prenda.detalle }} |
        Fecha: {{ prenda.fechaIngreso | date:'short' }}
      </p>
    </ion-label>
    <ion-button fill="clear" (click)="editarPrenda(prenda)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="danger" (click)="eliminarPrenda(prenda)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<p *ngIf="prendas.length === 0">No hay prendas registradas.</p>
<div style="height: 100px;"></div>
